# Ignorar cache do Expo (ISSO RESOLVE O SEU ERRO)
.expo/
vittaFrontend/.expo/

# Ignorar node_modules
node_modules/
vittaFrontend/node_modules/

# Ignorar builds nativas
ios/
vittaFrontend/ios/

*.class
vittaBackend/*.class
